#root {
  margin: 0 auto;
  padding: 0;
  background: #0f1923;
  color: #ff4658;;
}

h1{
  text-align: center;
}
.agentsPool {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.agentCard{
  background-color: #ff4658;
  color: #0f1923;
  margin: 5px;
  border-radius: 5px;
}
.agentCard h2{
  margin-left: 10px;
}
.agentCard h4{
  margin-left: 10px;
}
div .role {
  border: 2px solid #0f1923;
  width: 40px;
  height: 60px;
  border-radius: 25% 0 25% 0;
  position: relative;
  right: 10px;
  top: 45px;
}
.Initiator{
  background-color: darkorange;
}
.Controller{
  background-color: darkslateblue;
}
.Duelist{
  background-color: firebrick;
}
.Sentinel{
  background-color: teal;
}
.icon{
  margin: 10px;
  background-color: #0f1923;
  border-radius: 8px;
}
.footnote {
  display: flex;
  justify-content: space-between;
}
.roleicon {
  height: 18px;
  margin-right: 5px;
}

.profilePic {
  height: 600px;
}

.homeLinks {
  color: #ff4658;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}
nav {
  display: flex;
  justify-content: space-evenly;
}

.headerLink {
  color: #ff4658;
  font-weight: 600;
  font-size: 1.2rem;
}

.headerLink:hover {
  color: #0f1923;
  background-color: #ff4658;
}

header {
  box-shadow: 0px 5px 5px #000;
  min-width: 98vw;
  max-width: 100vw;
  padding: 0 0 1rem 1rem;
}

.agentProfile {
  display: flex;
  justify-content: center;
}

.agentText {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.agentDescription {
  max-width: 40vw;
  font-size: 1.2rem;
}
.agentAbilities {
  max-width: 40vw;
}